@model EventAllViewModel

<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
		<div class="card-body text-center">
			<h4>@Model.Title</h4>
			<h6>Address: <b>@Model.Address</b></h6>
			<h6>
				Tax:
				<b>@String.Format("{0:f2}", Model.Tax) BGN</b>
			</h6>
			<h6>Coach: <b>@Model.CoachName</b></h6>
			<br />
			<a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id"
			   class="btn btn-success">Details</a>
			@if (this.User.Identity?.IsAuthenticated ?? false)
			{
				<a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
				   class="btn btn-warning">Edit</a>
				<a asp-controller="Event" asp-action="Delete" asp-routeid="@Model.Id"
				   class="btn btn-danger">Delete</a>
				<p></p>
				@if (!(this.User.Identity.Name == Model.CoachName))
				{
					<form class="input-group-sm" asp-controller="Event"
						  asp-action="Joined" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" type="submit" value="Join" />
					</form>
				}
				else
				{
					<form asp-controller="Event" asp-action="Leave"
						  asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" type="submit" value="Leave" />
					</form>
				}
			}
		</div>
	</div>
</div>
