@using BeFit.Services.Data.Interfaces
@using BeFit.Web.Infrastructure.Extensions

@inject ICoachService coachService
@{
    ViewData["Title"] = "Home Page";
    List<IndexViewModel> events = Model.ToList();

    bool isUserCoach = await coachService.CoachExistsByUserIdAsync(this.User.GetId()!);
}

@model IEnumerable<IndexViewModel>

@if (!events.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for your events!</h1>
        <p class="lead">
            There are no events in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (this.User.Identity!.IsAuthenticated)
            {
                if (isUserCoach)
                {
                    <a asp-area="" asp-controller="Event" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Event</a>
                }               
            }
        </p>
    </div>
}
<div class="mb-5"></div>
<br />
@if (this.User.Identity!.IsAuthenticated)
{
    if (isUserCoach)
    {
        <p class="text-center text-uppercase">You are now a coach! Organize your own sports events! Good luck!</p>
    }
    else
    {
        <p class="text-center text-uppercase">As a registered user on our site, you now have the opportunity to sign up for sports events or become a coach!</p>
    }
}
else
{
    <p class="text-center text-uppercase">Welcome to BeFit! Make your registration to participate in their sports events or add your own!</p>
}
<br />
<br />
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < events.Count(); i++)
        {
            IndexViewModel even = events[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@even.ImageUrl" alt="@even.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Details"
                           asp-route-id="@even.Id"> @even.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total_events"></h2>
        <h2 class="col-md-6 text-center" id="total_clients"></h2>
        <h2 class="col-md-6 text-center" id="total_coaches"></h2>
    </div>
</div>

@section Scripts
{
    <script>statistics();</script>
}